/* ----- ENTETE ---- */
body {
  font-family: 'Lato', sans-serif;
}
h1, h2 {
  font-family: 'Abril Fatface', cursive;
}
#header {
  height: 100%;
  background-image: url('../img/bg-entete.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}

.titre-principal {
  //z-index: 2;

  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}

#apropos {
  h2 {
    margin-bottom: rel-calc(110);
  }
}
#portfolio {
  h2 {
    margin-bottom: 85px;
  }

  figure {
    margin: 0;
  }

  img {
    min-width: 100%;
  }
}
#blog {
  h2 {
    margin-bottom: 65px;
  }
  img {
    margin-bottom: 40px;
  }
}

#illustration {
  min-height: 450px;
  height: 450px;
  background-image: url('../img/hipster.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}

#socialnetwork {
  .menu {
    display: table;
    //outline: 1px dashed #C00;
    width: 100%;
  }
  .menu > li {
    //width: 33.3333333333333333333333%;
    width: calc(100%/3);
    text-align: center;
  }
}

.social {
  a {
    padding: 0 !important;
  }
}
/* ----- OUTILS ---- */
.liencentre {
  display: block;         // --> Transformer le lien de Inline en Block
  width: 100%;            // --> Toute la largeur de la zone (De la page)
  text-align: center;     // --> Texte est aligné au centre

  font-size: rem-calc(36);     // 36 / 16 = 2,25 ---- 2.25rem

  &.descente {
    position: absolute;     // --> Positionné à 75px du bas de la zone
    bottom: 75px;
  }
}
.documentsections {
  position: relative;
  padding-top: rem-calc(65);
  padding-bottom: rem-calc(185);
}



.menu-top {
  font-size: rem-calc(12);
}
