<section id="apropos" class="documentsections">
  <h2 class="text-center">A propos</h2>
  <div class="row" style="outline: 1px dashed #C00;">
    <article class="text-center small-12 medium-6 large-4 columns">
      <img src="assets/images/spontanne.png" alt="">
      <h3>Passionné</h3>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus dignissimos sapiente amet?</p>
        <p>Ab tenetur eum numquam illum perferendis minima dolorem sed, veritatis incidunt saepe, earum voluptate quod aliquid alias dignissimos!</p>
      </div>
    </article>
    <article class="text-center small-12 medium-6 large-4 columns">
      <img src="assets/images/passione.png" alt="">
      <h3>Spontané</h3>
      <div>
        <p>Fuga quidem id illum sapiente suscipit, recusandae, qui in impedit. Quo molestiae, sunt consectetur inventore libero quis incidunt commodi, voluptatem deleniti, repudiandae a tenetur quos quod nobis mollitia expedita quae.
        </p>
      </div>
    </article>
    <article class="text-center small-12 medium-6 large-4 columns">
      <img src="assets/images/curieux.png" alt="">
      <h3>Curieux</h3>
      <div>
        <p>Ipsum deserunt placeat voluptas nisi saepe suscipit qui quis voluptatem modi, corporis, odio minima similique? Ab doloribus expedita reprehenderit, impedit error laborum unde, sed, aut consectetur obcaecati quod maxime necessitatibus!
        </p>
      </div>
    </article>
  </div>
  <a href="#" class="liencentre descente"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
</section>
