<section id="blog" class="documentsections">
  <h2 class="text-center">Blog</h2>
  <div class="row text-center">
    <article class="medium-4 columns">
      <img src="http://placehold.it/420x190" alt="">
      <h3>1er article///</h3>
      <time>19/10/2016</time>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur, atque. Animi et commodi quam, ducimus corporis quidem, laboriosam, autem tempora quibusdam enim, optio! Accusamus dolorum provident, error ullam non obcaecati?</p>
        <p>Nisi alias officiis, natus provident numquam recusandae voluptatem rerum quis maiores harum deleniti quam labore necessitatibus, sequi magni in sed vitae modi saepe veniam. Dolore optio tempore odio neque aliquid!</p>
      </div>
    </article>
    <article class="medium-4 columns">
      <img src="http://placehold.it/420x190" alt="">
      <h3>2ieme article....</h3>
      <time>24/8/2016</time>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maiores dignissimos itaque quia cum eligendi, numquam ipsam dolorum culpa, aperiam harum ab animi aspernatur est earum. Aliquam sapiente provident quos reiciendis.</p>
      </div>
    </article>
    <article class="medium-4 columns">
      <img src="http://placehold.it/420x190" alt="">
      <h3>3ieme article ++++</h3>
      <time>19/7/2016</time>
      <div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae distinctio aliquid, magni iusto eligendi tempora adipisci natus dolorem nam atque, numquam perspiciatis fuga ut dolorum. Optio expedita culpa maiores, quas.</p>
        <p>Atque, sit fugit quasi deserunt nesciunt corporis eum vero asperiores, omnis consequatur ipsam voluptatibus. Totam, incidunt. Repudiandae maxime, quisquam nobis? Ad nostrum, voluptas earum nam beatae maxime quam quidem dolores.</p>
        <p>Atque, sit fugit quasi deserunt nesciunt corporis eum vero asperiores, omnis consequatur ipsam voluptatibus. Totam, incidunt. Repudiandae maxime, quisquam nobis? Ad nostrum, voluptas earum nam beatae maxime quam quidem dolores.</p>
      </div>
    </article>
  </div>
</section>
