<section id="form" class="documentsections">
  <h2 class="text-center">Contact</h2>
  <form action="">
    <div class="row">
      <p class="medium-offset-1 medium-5 large-offset-2 large-4 columns">
        <label for="prenom">Prénom</label>
        <input type="text" name="prenom">
      </p>
      <p class="medium-5 large-4 columns end">
        <label for="nom">Nom</label>
        <input type="text" name="nom">
      </p>
    </div>
    <div class="row">
      <p class="medium-offset-1 medium-5 large-offset-2 large-4 columns">
        <label for="email">Email</label>
        <input type="text" name="email">
      </p>
      <p class="medium-5 large-4 columns end">
        <label for="mobile">Mobile</label>
        <input type="text" name="mobile">
      </p>
    </div>
    <div class="row">
      <div class="medium-offset-1 medium-10 large-offset-2 large-8 columns">
        <label for="message">Message</label>
        <textarea name="message"id="" cols="30" rows="10"></textarea>
      </div>
    </div>
    <div class="row">
      <p class="medium-offset-1 medium-1 large-offset-2 large-1 columns">
        <a href="#" class="liencentre"><i class="fa fa-chevron-up" aria-hidden="true"></i></a>
      </p>
      <p class="medium-offset-7 medium-2 large-offset-5 large-2 columns end">
        <input type="submit" class="button hollow expanded" value="envoyer">
      </p>
    </div>
  </form>
</section>
