<section class="documentsections" id="portfolio">
  <h2 class="text-center">Portfolio</h2>
  <div class="row large-collapse  small-12 large-up-4">
    <figure class="columns"><img src="http://placehold.it/350x350" alt=""></figure>
    <figure class="columns"><img src="http://placehold.it/350x350" alt=""></figure>
    <figure class="columns"><img src="http://placehold.it/350x350" alt=""></figure>
    <figure class="columns"><img src="http://placehold.it/350x350" alt=""></figure>
    <figure class="columns"><img src="http://placehold.it/350x350" alt=""></figure>
    <figure class="columns"><img src="http://placehold.it/350x350" alt=""></figure>
    <figure class="columns"><img src="http://placehold.it/350x350" alt=""></figure>
    <figure class="columns"><img src="http://placehold.it/350x350" alt=""></figure>
  </div>
  <a href="#" class="liencentre descente"><i class="fa fa-chevron-down" aria-hidden="true"></i></a>
</section>
