#socialnetwork {
  .menu {
    display: table;
    //outline: 1px dashed #C00;
    width: 100%;
  }
  .menu > li {
    //width: 33.3333333333333333333333%;
    width: calc(100%/3);
    text-align: center;
  }
}

.social {
  a {
    padding: 0 !important;
  }
}
