#header {
  height: 100%;
  background-image: url('../img/bg-entete.jpg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-size: cover;
}

.titre-principal {

  width: 100%;
  position: absolute;
  top: 50%;
  margin-top: -50px;
}


.menu-top {
  font-size: rem-calc(12);
}
