/* --- BOUCLE Palette... --- */
@each $myvar in $foundation-palette {
  $key: nth($myvar, 1);
  $value: nth($myvar, 2);
  /* -- #{$key} // #{$value} -- */
  .#{$key} {
    color: $value;
  }
}

body {
  @extend .alert;
  font-family: 'Lato', sans-serif;
}
h1, h2 {
  //color: #FFFFFF;
  //color: #FFF;
  //color: rgb(255, 255, 255);
  //color: rgba(178, 156, 133, .5);
  //color: rgba(map-get($foundation-palette, secondary), .5);
  font-family: 'Abril Fatface', cursive;
}
